addict==2.4.0
dominate==2.7.0
einops==0.4.1
future==0.18.2
h5py==3.7.0
imageio==2.19.3
iopath==0.1.10
joblib==1.1.0
kiwisolver==1.4.3
kornia==0.6.5
lmdb==1.3.0
lpips==0.1.4
matplotlib==3.5.2
natsort==8.1.0
numpy==1.21.6
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
pytorch-msssim==0.2.1
PyWavelets==1.3.0
PyYAML==6.0
scikit-image==0.19.3
scikit-learn==1.0.2
tb-nightly==2.10.0a20220706
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
thop==0.0.31.post2005241907
torch==1.8.1+cu101
torchaudio==0.8.1
torchfile==0.1.0
torchvision==0.9.1+cu101
tornado==6.2
visdom==0.1.7
wandb==0.12.21
zipp==3.8.0
basicsr==1.3.5
scipy==1.7.3
tqdm==4.64.0
Pillow==9.2.0
